In [ ]:
 #Convert radians into degrees

In [19]:
import math
from typing import Union

In [17]:
def radians_to_degrees(radians: Union[float, int])-> float:
    '''
    convert an angle in radians to degrees
    parameters:angle in radians
    returns:angle in degrees
    '''
    degrees=radians*180/math.pi
    print(f'The value of {radians} radians in degrees is {degrees:.2f} degrees')
    return round(degrees,2)

In [15]:
radians_to_degrees(4)

The value of 4 radians in degrees is 229.18 degrees

229.18

In [16]:
radians_to_degrees(7)

The value of 7 radians in degrees is 401.07 degrees

401.07

In [13]:
radians_to_degrees(4)

The value of 4 radians in degrees is 229.18 degrees

229.18

In [ ]:
#Sort a list

In [16]:
def sort_list(numbers,instruction):
    '''
    sort a list of numbers as per instruction given
    parameters:
               numbers:a list of numbers to be arranged.
              instruction: an instruction on how to arrange the numbers,
                           'asc' for ascending,
                            'desc' for descending and
                            'none' to leave the list unchanged
    returns:an arranged list or an unchanged list based on the instruction given
    '''
    instruction=instruction.lower()
    if instruction=='asc':
        return sorted(numbers)
    elif instruction=='desc':
        return sorted(numbers,reverse=True)
    elif instruction=='none':
        return numbers
    else:
        raise ValueError("invalid value for 'instruction'.please use 'asc','desc',or 'none'.")
print(sort_list([6,3,4,9,1,0,8],'asc'))
print(sort_list([6,3,4,9,1,0,8],'desc'))
print(sort_list([6,3,4,9,1,0,8],'none'))
print(sort_list([6,3,4,9,1,0,8],'ASC'))
print(sort_list([6,3,4,9,1,0,8],'ascending'))

[0, 1, 3, 4, 6, 8, 9]
[9, 8, 6, 4, 3, 1, 0]
[6, 3, 4, 9, 1, 0, 8]
[0, 1, 3, 4, 6, 8, 9]

ValueError: invalid value for 'instruction'.please use 'asc','desc',or 'none'.

In [ ]:
#Convert a decimal number into binary

In [6]:
def decimal_to_binary(number):
    '''
    convert a decimal value to a binary number
    parameters:
               number:decimal value(must be less than 1024)
    returns:binary number as a string
    '''
    if number==0:
        return '0'
    if number >= 1024:
        return 'number should be less than 1024'
    binary=''
    while number>0:
        remainder=number%2
        binary=str(remainder)+binary
        number=number//2
    return binary
decimal_to_binary(20)

'10100'

In [ ]:
# Count the vowels in a string

In [7]:
def count_vowels(word):
    '''
    counts the number of vowels(a,e,i,o,u) in a given  string.

    parameters:
    word(str).
    
    returns:
    number of vowels in the word(int)
    '''
    vowels='aeiou'
    count=0
    for char in word.lower():
        if char in vowels:
            count+=1
    return count
count_vowels('shokolopangoshay')

6

In [ ]:
#Hide the credit card number

In [13]:
def mask_credit_card_number(card_number):
    '''
    replace all the numbers of credit card but four with an asterisk.
    
    parameters:
               card number(str or int).
    returns:
            masked credit card number with only the last four digits visible.
    '''
    card_number_string=str(card_number)
    masked_numbers='*'*(len(card_number_string)-4)
    visible_numbers=card_number_string[-4:]
    masked=masked_numbers+visible_numbers
    return masked
print(f'Your credit card number is {mask_credit_card_number(123456789123)}')

Your credit card number is ********9123

In [ ]:
#Are the Xs equal to the Os?

In [9]:
def os_equals_xs(text):
    '''
    counts the number of xs and os and determine if they are equal.
    
    parameters:a string that contains any type and number of characters

    returns:returns boolean True if equal and if not returns false.
    '''
    text.lower()
    os=text.count('o')
    xs=text.count('x')
    if os==xs:
        return True
    else:
        return False
os_equals_xs('book')

False

In [ ]:
#Create a calculator function

In [8]:
def calculate(num1,operator,num2):
    '''
    performs  simple mathematical operations on two given numbers.

    parameters:
    num1(int or float)
    operator(str)-'+','-','/','*'
    num2(int or float)

    returns:
    float,int or string if given an invalid operator
    '''
    if operator=='+':
         return num1+num2
    elif operator=='-':
        return num1-num2
    elif operator=='*':
        return num1*num2
    elif operator=='/':
        return num1/num2
    else:
        return 'invalid operator'

24

In [9]:
calculate(6,'*',4)

24

In [10]:
calculate(6,'/',4)

1.5

In [11]:
calculate(6.45,'*',6.66)

42.957

In [ ]:
#Give me the discount

In [13]:
def discounted_price(price,discount):
    '''
    Gives the priceof an item after applying a certain discount.

    parameters:
    original price of an item(int,float)
    discount to be applied(int,float)

    Returns
    The price after discount(float,int)
    ''''
    discounted_price=price-((discount/100)*price)
    return discounted_price

80.0

In [14]:
discounted_price(100,20)

80.0

In [ ]:
#Just the numbers

In [4]:
def retain_positive_integers(mixed_list):
    """
    Retains only positive integers from a mixed list.

    Parameters:
    mixed list

    Returns:
    A new list with only positive integers.
    """
    integers=[]
    for item in mixed_list:
        if type(item)==int and item>0:
            integers.append(item)
    return integers

In [6]:
print(retain_positive_integers(['The','flock','is','made','up','of',6,'cows',12,'goats',14,'sheep',8 ,'pigs','and',30,'horses']))

[6, 12, 14, 8, 30]

In [ ]:
#Repeat the characters

In [3]:
def character_doubling(word):
    '''
    Takes in a  string and returns another string with each of the characters in the original string doubled.
    
    Parameters:
    a string
    
    Returns;
    A string with each of the characters doubled.
    '''
    word_plus=''
    for char in word:
        word_plus+=char*2
    return word_plus

'AAmmiirraa'

In [4]:
character_doubling('cat')

'ccaatt'

In [ ]:
#Convert lowercase to uppercase

In [8]:
def convert_to_uppercase(word):
    '''
    converts a word to capital letters
    
    Parameters:A string
    
    Returns:
    A string in whih each of the characters are uppercase
    '''
    capital=''
    for char in word:
        capital+=char.upper()
    return capital

'MOTHER'

In [9]:
convert_to_uppercase('mother')

'MOTHER'

In [ ]:
#Add dots

In [11]:
def add_dots(word):
    '''
    Takes in a string and adds  dot after every character.
    
    Parameter:
    string
    Reurns:
    A string in which each of the characters is followed by a dot.
    ''''word_magic=''
    for char in word:
        word_magic+=char+'.'
    return word_magic

'g.r.e.a.t.'

In [ ]:
add_dots('great')